<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="browser" value="Firefox"/>
  <parameter name="name" value="Rakesh"/>
  <classes>
      <class name="abc.Abc"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
